/* Container for the login page */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

/* Login form title */
.login-page h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

  /* Form styling */
  .login-page form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #222; /* Dark gray background */
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
    

    .login-page input[type="email"], input[type="password"] {
      width: 250px;
      padding: 10px;
      margin-bottom: 15px;
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      border-radius: 4px;
    }

    .login-page input[type="email"]::placeholder, input[type="password"]::placeholder {
      color: #ccc; /* Light gray placeholder */
    }

    .login-page input[type="email"]:focus, input[type="password"]:focus {
      outline: none;
      border-color: #f0f0f0; /* Light gray border when focused */
    }
    

    .login-page button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #fff; /* White background */
      color: #000; /* Black text */
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
    }
    
    .login-page button[type="submit"]:hover {
      background-color: #f0f0f0; /* Slightly lighter on hover */
    }
    .login-page .signup-link {
      margin-top: 15px;
    }
    
    .login-page .signup-link p {
      color: #ccc; /* Light gray text */
    }
    
    .login-page .signup-link a {
      color: #fff; /* White text */
      text-decoration: none;
      font-weight: bold;
    }
    
    .login-page .signup-link a:hover {
      color: #f0f0f0; /* Lighter on hover */
    }