/* Signup page container */
.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

/* Form styling */
.signup-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

/* Input field styling */
.signup-page input[type="text"],
.signup-page input[type="email"],
.signup-page input[type="password"],
.signup-page select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    background-color: inherit;
    color: #fff;
    border-radius: 4px;

}


.signup-page input[type="email"] {
    margin-bottom: 0px;
}

.signup-page input[type="text"]::placeholder,
.signup-page input[type="email"]::placeholder,
.signup-page input[type="password"]::placeholder {
    color: #ccc;
}

.signup-page input[type="text"]:focus,
.signup-page input[type="email"]:focus,
.signup-page input[type="password"]:focus,
.signup-page select:focus {
    outline: none;
    border-color: #f0f0f0;
}

/* OTP section: container for email input and send OTP button */
.signup-page .email-otp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;

}

/* Email input field will take 75% width */
.email-otp-container input[type="email"] {
    width: 75%;
}

/* Send OTP button styling */
.send-otp-btn {
    width: 20%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.send-otp-btn:hover {
    background-color: #f0f0f0;
}

/* Signup button */
.signup-page button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-page button[type="submit"]:hover {
    background-color: #f0f0f0;
}

/* Login link styling */
.login-link {
    margin-top: 15px;
}

.login-link p {
    color: #ccc;
}

.login-link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    color: #f0f0f0;
}